.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}



.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color:rgb(208, 213, 218);
    font-weight: 500;
}

button {
    margin-bottom: .8rem;
}

.table{
    width: 100%;
}

.clientes{
    color: rgb(130, 130, 209);
    margin-left: .6rem;
}

.edit{
    color: yellow;
}

.delete{
    color: rgb(202, 30, 30);
    margin-left: .5rem;
}

.mat-header{
    width: 5rem;
}

.btnPesquisar{
    margin-left: 2rem;
}

.lupa {
    color: rgb(81, 88, 116);
    vertical-align: middle;
    
}
