<form>
    <h1>ATUALIZAR CLIENTE</h1>


    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Dados Pessoais" class="tabDP">
            <mat-form-field class="form">
                <mat-label>NOME</mat-label>
                <input matInput [(ngModel)]="cliente.nome" required [formControl]="nome" type="text" name="nome" placeholder="Digite o nome">
                <mat-error *ngIf="nome.invalid">{{ getMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>CPF/CNPJ</mat-label>
                <input matInput [(ngModel)]="cliente.cpfOuCnpj" required [formControl]="cpfOuCnpj" name="cpfOuCnpj" type="text" mask="000.000.000-00||00.000.000/0000-00" placeholder="Digite o CPF ou CNPJ">
                <mat-error *ngIf="cpfOuCnpj.invalid">{{ getMessage() }}</mat-error>
            </mat-form-field>

        </mat-tab>
        <mat-tab label="Dados de Contato">
            <mat-form-field class="form">
                <mat-label>Endereço</mat-label>
                <input matInput [(ngModel)]="cliente.endereco"  type="text" name="endereco" placeholder="Digite seu Endereço">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Número</mat-label>
                <input matInput [(ngModel)]="cliente.numero"  type="text" name="numero" placeholder="Digite o Número do endereço">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Bairro</mat-label>
                <input matInput [(ngModel)]="cliente.bairro"  type="text" name="bairro" placeholder="Digite o bairro">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>CEP</mat-label>
                <input matInput [(ngModel)]="cliente.cep"  type="text" mask="00.000-000" name="cep" placeholder="Digite o cep">
            </mat-form-field>

            <mat-form-field class="select" appearance="fill">
                <mat-label>SELECIONE A CIDADE</mat-label>
                <mat-select [(ngModel)]="cliente.cidade" name="cidades">
                  <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">
                    {{cidade.nome}}
                  </mat-option>
                </mat-select>
                
              </mat-form-field>
              <mat-form-field class="form">
                <mat-label>TELEFONE</mat-label>
                <input matInput [(ngModel)]="cliente.telefone" type="text" name="telefone" mask="(00)00000-0000" placeholder="Digite o telefone">
            </mat-form-field>

            <mat-form-field class="form">
                <mat-label>E-MAIL</mat-label>
                <input matInput [(ngModel)]="cliente.email" type="text" name="email" placeholder="Digite o nome e-mail">
            </mat-form-field>
            </mat-tab>
        
      </mat-tab-group>

    <div class="buttons">
        <button [disabled]="getMessage()" class="mat-elevation-z8" (click)="update()" mat-stroked-button color="primary">ATUALIZAR</button>
        <button class="mat-elevation-z8" (click)="ativarDesativarCliente()"  mat-stroked-button color="warn">{{btnAtivaDesativa}}</button>
        <button class="mat-elevation-z8"  mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>