<form>
    <h1>ATUALIZAR CIDADE</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="cidade.nome" type="text" name="nome" placeholder="Digite o nome da cidade">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>UF</mat-label>
        <input matInput [(ngModel)]="cidade.uf" type="text" name="uf" placeholder="Digite a sigla do estado" maxlength="2" >
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
        <button (click)="cancel()" class="mat-elevation-z8"  mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form>